body, h1, h2, h3, h4, h5, h6, p, blockquote, pre, hr, dl, dd, ol, ul, figure {
    margin: 0;
    padding: 0;
}

body {
    height: 64em;
    width: 100%;
}

header {
    display: flex;
    flex-direction: column;
    z-index: 0;
    height: 10em;
}

main {
    height: 100%;
    width: 100%;
}

.main-title {
    display: inline;
}

.one {
    background-color: yellow;
    height: 2em;
    width: 5em;
    border-style: double;
    margin: 15px;
    list-style-type: none;
}

.hello {
    /* height: 20em; */
    width: 100%;
    background-color: grey;
    z-index: 2;
}

.list {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}

.menu-img {
    height: 25px;
    width: 25px;
    margin: 10px;
    z-index: 6;
}

.menu-imgclose {
    height: 35px;
    width: 35px;
    margin: 10px;
    display: none;
}

.menu-click {
    position: fixed;
    top: 0px;
    right: 0px;
    z-index: 5;
}

.wow {
    background-color: sandybrown;
}